@using Sitecore.Mvc
@model Mongabon.Models.HeaderBlocModel
@{
    Layout = null;
}

<div class="row margin-Bottom-30">
    <div class="col-md-12 col-lg-12 @Model.CssClass padding-30">
        <h3 class="media-heading text-center">@Html.Sitecore().Field("Titre")</h3>

        <div class="media">
            <div class="media-body">
                @Html.Sitecore().Field("Description")
            </div>
            <div class="media-right media-middle">
                <a>
                    @Html.Sitecore().Field("Image", new { w = 350 })
                </a>
            </div>
        </div>
    </div>
</div>